<section class="container">
  <img #image src="./assets/imgs/starting soon.jpg" alt="image" />

  <h5>Preview:</h5>
  <section class="visualizer-container">
    <section class="visualizer"></section>
  </section>
</section>

<section>
  <br />
  <button (click)="enableCrop()">Enable crop</button>
  <button (click)="disableCrop()">Disable Crop</button>
  <br />
  <button (click)="actions('move')">Move</button>
  <button (click)="actions('crop')">Crop</button>
  <button (click)="actions('rotate-left')">Rotate left</button>
  <button (click)="actions('rotate-right')">Rotate right</button>
  <button (click)="actions('flip-horizontal')">flip horizontal</button>
  <button (click)="actions('flip-vertical')">flip vertical</button>
</section>
<button
  #buttonConfirm
  id="btn-confirm"
  class="btn-confirm"
  [hidden]="!showButtonConfirm"
  (click)="confirmCrop()"
>
  Confirm crop
</button>

<h1>Result:</h1>
<section id="result"></section>
